/*font-family: 'PT Serif', serif; font-family: 'PT Sans', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 152, 152);
}

.container{
    max-width: 1400px;
    padding: 0 30px;
    margin: 0 auto;
}

/* HEADER */

.main-header{
    width: 100%;
    background: linear-gradient(to top, rgba(177, 177, 177, 0.2), transparent),
    url("../images/header.jpg") center top no-repeat;
    background-size: cover;
    min-height: 700px;
    text-align: center; 
}
.main-header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 178px;

}
.main-header__title{
    font-size: 70px;
    font-family: 'PT Serif', serif;
    letter-spacing: 5px;
    color: #fff;
    font-weight: lighter;
}
.main-header__subtitle{
    font-size: 35px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    margin-top: 8px;
    letter-spacing: 1px;
}

img{
    width: 100%;
}


/* Content */

.content{
    background-color: rgb(111, 111, 255);
    max-width: 1200px;
   
    margin: 0 auto;
}

.content__paragraph{
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    color: black;
    padding: 40px 15px;
    letter-spacing: 1px;
    
}

/* Content grid */

.content__grid{
    padding: 20px 10px;
    max-width: 1240px;

    display: grid;
    grid-template-columns: 320px auto 480px;
    grid-gap: 35px;
}

.content__item-3{
   background: url("../images/step-1.jpg") center center no-repeat;
   background-size: cover;
   height: 480px;
}

footer{
    background-color: yellow;
}
